.Navbar {
  .appbar {
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: transparent;
    position: absolute;
    box-shadow: none;
    z-index: 99;
    @media only screen and (max-width: 600px) {
        background-color:rgb(16,34,60);
        height: 3rem;
    }
    .toolbar {
        gap: 1rem;
      justify-content: flex-end;
      .signupLink{
        text-decoration: none;
      }
      .signupBtn {
        font-size: 16px;
        color: black;
        text-decoration: none;
        @media only screen and (max-width: 600px) {
          color: #fff;
        }
      }
      .logOutBtn{
        font-size: 18px;
        color:#fff;
        text-decoration: none;
        font-weight: $font-weight-bold;

      }
    }
   
  }
  
  .scrolled {
    position: fixed;
    background-color:$primary;
 
    box-shadow: $box-shadow;
    height: 4rem;
  }
  
  .divider {
    display: flex;
    align-items: flex-end;
    background-color: $primary;
  }
}
