.HomePage {
  background-image: url(https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;

  .signUpForm {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .hellohead {
      font-size: 24px;
      font-weight: $font-weight-bold;
      .helloSubHead {
        font-size: 16px;
      }
    }
    
    .regbtn {
      padding: 1rem;
      border-radius: 20px;
      background-color: rgb(16, 34, 60);

      border-style: none;
      color: white;
      font-weight: 600;
      &:hover {
        background-color: rgb(156, 83, 0);
      }
    }
    .alert-container {
      position: relative;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
    
    .alert-fadeout {
      opacity: 0;
    }
  }
  .loginForm {



  }
}
