.Add-blog-page {



    .blogHead {
        margin-top: 6rem;

        font-size: $h3-font-size !important;
        font-weight: $font-weight-bold;
    }

    .input-fields {
        max-width: 31.25rem;
        width: 100%;
    }
    .buttons-box{
        max-width: 15rem;
        width: 100%;
  
    }
}