.Add-blog-page {
    .head {
        text-align: center;
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .formBox {
            max-width: 31.25rem;
            width: 100%;
        }
    }

    .upload-btn {
        background-color: $primary;

        &:hover {
            background-color: white;
            color: black;
        }
    }




    .Avatar-container {
        height: 100%;
        display: flex;
        justify-content: flex-end;

        padding: 1rem;
        @media only screen and (max-width:600px){
            justify-content: center;
        }
        .avatar {
            height: 15rem;
            width: 15rem;
        }
    }

}