 .signupForm {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 6rem;

     .signupForm-content {
         padding: 1rem;
         max-width: 31.25rem;
         width: 100%;

         .Hello {
             font-size: $h3-font-size !important;
             font-weight: $font-weight-bold;
         }

         .link-head {
             font-size: $font-size-base;
             color: $gray;
             font-weight: $font-weight-bold;
         }

         .link-head-two {
             font-weight: none;
         }
     }
 }